.carousel__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__section {
  //display: flex;
  //flex-direction: column;
  position: absolute;
  z-index: 10;
  //justify-content: center;
  text-align: center;
  //margin-top: -150px;
  //top: 50%;
  //left: 50%;
}

.carousel {
  &__container {
    max-height: 600px;
    overflow: hidden;
  }

  &__slogan {
    color: white;
    font-size: 14px;
    font-weight: 900;
    text-shadow: 2px 2px 5px black;
    font-family: 'Libre Baskerville', serif;

    @include media-breakpoint-up(md) {
      font-size: 45px;
    }
  }

  &__slogan-byline {
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 5px black;
    font-family: 'Libre Baskerville', serif;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100px;
    height: 60px;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    background-color: #bf0001;
    border-color: #6d592b;
    font-family: 'Libre Franklin', sans-serif;

    @include media-breakpoint-up(md) {
      width: 275px;
    }
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #000;
  background-color: #ebdddd;
  border-color: #6d592b;
}
