.four-up-grid {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    @include media-breakpoint-between(md, lg) {
      flex-wrap: wrap;
    }
  }

  &__service {
    padding: 5px;

    @include media-breakpoint-up(sm) {
      margin: 0 20px;
      width: 370px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    //comment!
  }

  &__header {
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
  }

  &__description {
    margin-top: 10px;
    text-align: center;
  }
}
