.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 11;
    box-shadow: 0 1px 5px #000;
    padding: 0;
    background-color: #d1d1cf;
  }

  &__navbar {
    width: 100%;
  }

  &__brand {
    display: flex;
    align-items: center;
    color: white;
  }

  &__logo {
    max-width: 50px;
    margin: 10px;
  }

  &__nav-primary {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

/* navbar */
.navbar-default {
  background-color: #524d4d;
  border-color: #e7e7e7;
}

/* Title */
.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
}

/* Link */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #d5d5d5;
}

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
